<h1>Sign up</h1>

<%= form_for(@user) do |f| %>
<!-- Passing the form variable f explicitly as a local variable. -->
	<%= render 'fields', :f => f %>
	<div class="actions">
		<%= f.submit "Sign up" %>
	</div>
<% end %>
