<!DOCTYPE html>
<html>
	<head>
		<title>Ruby on Rails Tutorial Sample App | <%= @title %></title>
		<!-- It prevents cross-site request forgery (CSRF). -->
		<%= csrf_meta_tag %>
	</head>

	<body>
		<!-- For example this layout ensures that visiting the page /pages/home converts the contents of home.html.erb to HTML and then inserts it in place of <% yield %> -->
		<%= yield %>
	</body>
</html>
